/*
 * Customization Variables
 */

$accent: #6495ED;
// $accent: #FF0F00;
$image-size: 50%;

/*
 * Build Variables, don't touch
 */

$max-width: 100%;
// $max-width: 700px;
$med-width: 600px;
$small-width: 50%;
$profile-max-width: 400px;
// $small-width: 480px;
